{% extends "index.html" %}{% block header %}{% include "index_sprint_header.html" %}{% endblock %}{% block content %}
<div id="content">
    <h1>CondorSpot Sprint</h1>
    <p>
        <strong>Sprints</strong> present weekly challenges for the pilots<br/>

        <strong>Scheduled</strong> from Monday to Monday, 24 / 7 / 365<br/>
        <strong>Five</strong> competition classes. Standard, 15meter, 18meter, open and mixed<br/>
        <strong>Tasks</strong> are changed every week<br/>
        <strong>You</strong> will be given five tries to improve on your result and best result will count towards final placing.<br/>

        <br/>
        <strong>The challenge is up to you to find out</strong>
    </p>

    <h1>&nbsp;</h1>
    <h1>Tasks</h1>
    <p>
        <strong>Tasks</strong> are changed every week<br/>

        <strong>Details</strong> of the tasks are published on condospot website<br/>
        <strong>Planning</strong> can be done using task images as well as GoogleMaps previews<br/>
        <br/>
        <strong>Planning is everything</strong>
    </p>

    <h1>&nbsp;</h1>
    <h1>Scoring</h1>
    <p>
        <strong>Realtime</strong> scoring means flights are evaluated as soon as everyone finishes the race<br/>
        <strong>Results</strong> are published on condorspot website<br/>

        <br/>
        <strong>Analyse your flights</strong>
    </p>
    <h1>&nbsp;</h1>
    <p>
        We wish you the best of luck although smart strategy and planning will be more important<br/>
        Let the game begin and may the best pilots win<br/>

    </p>
    <p><strong>CondorSpot Team</strong></p>

</div>{% endblock %}